<?php

declare(strict_types=1);

/** @var $block \Magento\TradeSquare\Block\SummaryBrand */
?>
<div id="summary-brand" data-bind="scope: 'summary_brand'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<script type="text/x-magento-init">
    {
        "#summary-brand": {
            "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
        }
    }
</script>
